#game-container {
  height: auto;
  width: 80%;  
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

#title {
  text-align: center; 
  font-size: 2rem; 
  text-shadow
}

#scoreboard {
  line-height: 0.5rem; 
  border: 0.15rem solid white; 
  padding-left: 1rem; 
  width: 20%; 
  border-radius: 0.15rem; 
  font-size: clamp(0.4rem, 2vw, 1.5rem);
  background-color: rgba(128, 128, 128, 0.5);
}

.card-container {
  margin-top: 5rem; 
  width: 100%; 
  display: grid; 
  gap: 1rem; 
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.game-card {
  border: 0.15rem solid white; 
  height: 15rem; 
  border-radius: 0.15rem; 
  text-align: center; 
  font-size: 1.5rem; 
  background-color: rgba(128, 128, 128, 0.5);
}

.game-card:hover {
  cursor: pointer; 
  background: grey; 

  box-shadow: 0px 0px 0px 8px #000000;
}